.inline-block(@va:top){
	display: inline-block;
	vertical-align: @va;
}

.border(@width:@bordWidth,   
		@col:@baseColor,
		@style:@bordStyle)
{
	border: @width  @col @style;
}

.icon(@url, 
	@va:middle,
	@w:@iconW)
{
	background: url("@{pathToIcon}@{url}.png") no-repeat center;
	width: @w;
	height: @w;
	.inline-block(@va)
}

/*.bordered(){
	border: 1px solid black;
	border-radius: 10px;
}
.img-container{
	.inline-block;
	width: 80px;
}
.box{
	width: 100px;
	height: 100px;
	.inline-block(middle);
	.bordered;
}*/